#home-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #05527bd9;
    background: linear-gradient(90deg, rgba(5, 82, 123, 0.8) 0%, rgba(255, 255, 255, 1) 50%);
}

.home-award-text {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-secondary);
    font-weight: 500;
    font-size: 1vw;
    color: var(--custom-darkblue);
    text-align: center;
}

.home-bulb-logo {
    position: absolute;
    top: 34.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home-bulb-logo img {
    width: 3.8vw;
    height: 3.8vw;
}

.home-heading p {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 6vw;
    color: var(--custom-darkblue);
    text-align: center;
}

.home-subheading {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-secondary);
    font-weight: 400;
    font-size: 1.5vw;
    color: var(--custom-darkblue);
    text-align: center;
    width: 60vw;
}
