.team-container {
    background: #c6eaff;
    min-height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    font-family: var(--font-primary);
}

.textBlock {
    position: absolute;
    top: 40vh;
    left: 9.2vh;
    width: 31.9vh;
    height: 36.1vh;
    font-size: 5.9vh;
    line-height: 1.2;
    font-family: var(--font-primary);
    font-weight: 400;
}

.centeredImage {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10vh;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.centeredImage img {
    height: 80vh;
}

/* .descriptionText {
  position: absolute;
  top: 1099px;
  left: 94px;
  width: 1210px;
  height: 180px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 2%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.descriptionText {
    position: absolute;
    top: 95vh;
    left: 50%;
    transform: translateX(-50%);
    width: 85vw;
    height: 16vh;
    font-family: var(--font-secondary);
    font-size: 3vh;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonContainer {
    position: absolute;
    top: 129.6vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    gap: 3.5vh;
    width: fit-content;
}

/* .button {
  border-radius: 30px;
  padding: 17px 69px;
  font-size: 30px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0%;
  border: none;
  background: #05527BFA;
  color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  width: 255px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'League Spartan', sans-serif;
} */

.button {
    border-radius: 2.8vh;
    padding: 1.6vh 6.4vh;
    font-size: 2.8vh;
    font-weight: 500;
    line-height: 1;
    border: none;
    background: #05527bfa;
    color: white;
    box-shadow: 0 0.2vh 0.7vh rgba(0, 0, 0, 0.07);
    cursor: pointer;
    width: 15vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-primary);
}

.buttonRows {
    position: absolute;
    top: 120vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: fit-content;
    margin-bottom: 32px;
}

.buttonRow {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
}

/* .cardGrid {
  position: relative;
  margin-top: 1564px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: repeat(3, 365px);
  gap: 60px 60px;
  width: 1200px;
  margin-bottom: 100px;
} */

.cardGrid {
    position: relative;
    margin-top: 150vh;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(3, 23vw);
    gap: 3.5vh 3.5vw;
    width: 80vw;
    margin-bottom: 7vh;
}
